@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~bootstrap/dist/css/bootstrap.css';

@import '~font-awesome/css/font-awesome.css';

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

@import 'ng2-toasty/style-default.css';
@import 'ng2-toasty/style-bootstrap.css';
@import 'ng2-toasty/style-material.css';

html {
  background-color: "#e6e6e6";
}

/* Add application styles & imports to this file! */
body {
  background-color: "#e6e6e6";
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.btn {
  margin-bottom: 20px;
}

title-component {
  margin-top: 20px;
}